.experience-container {
    margin-top: 100px;
    background-color : #EAF2FA;
    width: 100%;
    overflow-x: hidden;
}

.experience-container h1, h2 {
    text-align: center;
    color: #795649;
    font-weight: 700;
}

.experience-container hr {
    width: 30%;
}

.row {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.h1 {
    padding-top: 50px;
}

.h1w {
    padding-left: -100px;
}